.CharacterMeta {
  position: fixed;
  bottom: 1em;
  left: -12em;
  z-index: 2;
  color: #151515;
  overflow: visible;

  display: flex;
  flex-direction: row;
  align-items: flex-end;

  &__picture {
    z-index: 3;
    font-size: 2em;
    width: 20em;
    height: 10em;
    background-repeat: no-repeat;
    background-position: center top;
    opacity: .9;
  }

  &__vitals {
    z-index: 2;
    position: fixed;
    bottom: 6em;
    left: 18em;
  }

  &__vital {
    position: relative;
    height: 1.375em;
    width: 10em;
    padding: 0 .5em;
    background: rgba(#151515, .25);

    &-filler {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      transition: width .5s ease-in-out;
    }

    &-name {
      position: absolute;
      left: .5em;
      top: 0;
    }

    &-value {
      font-weight: bold;
      position: absolute;
      right: .5em;
      top: 0;
    }

    &:not(:first-child) {
      margin-top: .25em;
    }
  }

  &__hp .CharacterMeta__vital-filler {
    background: rgba(#F44336, .75);
  }
  &__mp .CharacterMeta__vital-filler {
    background: rgba(#673AB7, .75);
  }
  &__moves .CharacterMeta__vital-filler {
    background: rgba(#4CAF50, .75);
  }

  &__stats {
    z-index: 2;
    position: fixed;
    bottom: 1.5em;
    left: 18em;
    width: 10em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
  }

  &__stat {
    position: relative;
    width: 1.375em;
    height: 4em;
    background: rgba(#151515, .25);

    &-filler {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      background: rgba(#009688, .75);
      transition: height .5s ease-in-out;
    }

    &-name {
      font-size: .6em;
      position: absolute;
      bottom: .25em;
      left: 0;
      right: 0;
      text-align: center;
    }

    &-value {
      font-weight: bold;
      position: absolute;
      top: .125em;
      left: 0;
      right: 0;
      text-align: center;
    }
  }
}
