.CharacterMeta {
  position: fixed;
  bottom: 1em;
  left: -12em;
  z-index: 2;
  color: #151515;
  overflow: visible;

  display: flex;
  flex-direction: row;
  align-items: flex-end;

  &__effects {
    white-space: nowrap;
    z-index: 4;
    position: absolute;
    left: 14em;
    bottom: .5em;
    font-size: 1.25em;
    font-weight: bold;

    @media (max-width: 900px) {
      font-size: .6em;
      bottom: 17em;
      left: 22em;
    }
  }

  &__effect {
    color: #90CAF9;
    text-shadow: 1px 1px 1px #151515;
    &--negative {
      @extend .CharacterMeta__effect;
      color: #EF9A9A;
    }
  }

  &__picture {
    z-index: 3;
    font-size: 2em;
    width: 20em;
    height: 10em;
    background-repeat: no-repeat;
    background-position: center top;

    @media (max-width: 900px) {
      display: none;
    }
    @media (max-height: 700px) {
      font-size: 1em;
      transform: translateX(15em);
    }
  }

  &__vitals {
    z-index: 2;
    position: absolute;
    bottom: 5em;
    left: 31em;

    @media (max-width: 900px) {
      left: 13em;
      bottom: 8.5em;
      display: flex;
      flex-direction: row;
      align-items: baseline;
    }
  }

  &__vital {
    position: relative;
    height: 1.375em;
    width: 10em;
    padding: 0 .5em;
    background: rgba(#151515, .25);

    &-filler {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      transition: width .5s ease-in-out;
    }

    &-name {
      position: absolute;
      left: .5em;
      top: 0;
    }

    &-value {
      font-weight: bold;
      position: absolute;
      right: .5em;
      top: 0;
    }

    &:not(:first-child) {
      margin-top: .25em;
    }

    @media (max-width: 900px) {
      width: 3.5em;
      &-name {
        font-size: .6em;
      }
    }
  }

  &__hp .CharacterMeta__vital-filler {
    background: rgba(#F44336, .75);
  }
  &__mp .CharacterMeta__vital-filler {
    background: rgba(#673AB7, .75);
  }
  &__moves .CharacterMeta__vital-filler {
    background: rgba(#4CAF50, .75);
  }

  &__stats {
    z-index: 2;
    position: absolute;
    bottom: .5em;
    left: 31em;
    width: 10em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;

    @media (max-width: 900px) {
      bottom: 8.5em;
      left: 23.5em;
      width: 7.5em;
    }
  }

  &__stat {
    position: relative;
    width: 1.375em;
    height: 4em;
    background: rgba(#151515, .25);

    &-filler {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      background: rgba(#009688, .75);
      transition: height .5s ease-in-out;
    }

    &-name {
      font-size: .6em;
      position: absolute;
      bottom: .25em;
      left: 0;
      right: 0;
      text-align: center;

      @media (max-width: 900px) {
        top: 0;
        bottom: auto;
      }
    }

    &-value {
      font-weight: bold;
      position: absolute;
      top: .125em;
      left: 0;
      right: 0;
      text-align: center;

      @media (max-width: 900px) {
        font-size: .6em;
        bottom: 0;
        top: auto;
      }
    }

    @media (max-width: 900px) {
      height: 1.375em;
      width: 1.5em;
    }
  }
}
