@keyframes Background__fade-out {
  from { opacity: 1; }
  to { opacity: 0; }
}

.Background {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  &__background {
    z-index: 0;
    position: absolute;
    background-size: cover;
    background-position: center;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    &--previous {
      @extend .Background__background;
      z-index: 1;
      animation: Background__fade-out 1s ease-in-out forwards;
    }
  }

  &__overlay {
    z-index: 2;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #151515;
    opacity: .75;
  }
}
