.Map {
  position: absolute;
  overflow: visible;
  bottom: -45em;
  left: 25vw;

  perspective: 150px;
  transition: transform .5s ease-in-out;

  &__row {
    width: 96em;
    white-space: nowrap;
    &:not(:first-child) {
      margin-top: 1em;
    }
  }
  &__cell {
    position: relative;
    display: inline-block;
    width: 5em;
    height: 5em;
    &:not(:first-child) {
      margin-left: 1em;
    }
    &--wall {
      background: none;
    }
    &--character {
      background: rgba(#fafafa, .75) !important;
    }
    &--self {
      background: rgba(#81D4FA, .75) !important;
    }
    .Map__cell.Map__cell--reachable:not(.Map__cell--wall):focus {
      background: rgba(#4CAF50, .5);
    }
  }
  &__row:nth-child(odd) {
    .Map__cell:nth-child(odd) {
      background: rgba(#fafafa, .25);
    }
    .Map__cell:nth-child(even) {
      background: rgba(#afafaf, .25);
    }
  }
  &__row:nth-child(even) {
    .Map__cell:nth-child(odd) {
      background: rgba(#afafaf, .25);
    }
    .Map__cell:nth-child(even) {
      background: rgba(#fafafa, .25);
    }
  }

  &__character {
    z-index: 1;
    position: absolute;
    bottom: 6em;
    left: 0;
    width: 18em;
    height: 10em;
    background-position: center top;
    background-repeat: no-repeat;
    transition: transform .5s ease-in-out;
  }

  &:hover {
    .Map__character {
      z-index: -1;
      opacity: .75;
    }
    .Map__cell.Map__cell--reachable:not(.Map__cell--wall) {
      cursor: pointer;
      background: rgba(#4CAF50, .5);
      &:hover {
        background: rgba(#4CAF50, .9);
      }
    }
  }
}
