.CharacterTile {
  position: relative;
  width: 12.5em;
  height: 12.5em;
  opacity: .8;
  background-color: rgba(white, .2);
  background-size: cover;
  background-position: center top;
  cursor: pointer;

  &:hover {
    opacity: 1;
  }

  &__name {
    cursor: pointer;
    text-shadow: -1px 0 #151515, 0 1px #151515, 1px 0 #151515, 0 -1px #151515;
    position: absolute;
    bottom: 1.5em;
    left: .5em;
    font-weight: bold;
  }

  &__source {
    cursor: pointer;
    text-shadow: -1px 0 #151515, 0 1px #151515, 1px 0 #151515, 0 -1px #151515;
    position: absolute;
    bottom: .5em;
    right: .125em;
    padding-right: .375em;
    font-style: italic;
    white-space: nowrap;
  }
}
