$font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
$font-family-2: 'Times New Roman', Times, serif;

$background-color--dialog: rgba(#eee, .7);

$color--dialog: #151515;
